.borderconexoes{
    border:1px transparent;
    color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
    background-color: #304A6E;
}

h1 {
    text-align: left;
    padding: 30px;
    padding-left: 10px;
}

.conexoes{
    display:flex;
    flex-direction: row;
    align-items:center ;
}