.img{
    border-radius: 50%;  
}

.borderperfil{
    border:1px transparent;
    color: white;
    border-radius: 50px;
    padding: 20px;
    background-color: #304A6E;
}

.img {
    cursor: pointer;
}